body {
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

#dark-mode-toggle {
    cursor: pointer;
    padding: 10px;
    background-color: #007BFF; /* Changed from #0056b3 to #007BFF */
    color: white;
    border: none;
    border-radius: 5px;
}
